.cabeçalho_lista {
    background-color:rgba(252, 248, 49, 0.616);
    color: rgba(17, 0, 0, 0.726);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 70px 0;
    font-size: 20px;
    }
    
    .cabeçalho_imagem {
    width: 20%;
    height: 20%;
    border-radius: 4%;
    }
    
    .itens{
    display: inline-block;
    margin: 0 32px;
    font-size: 25px;

    }
    
    * {
    margin: 0 16px;
    padding: 24px
    }