.cabeçalho_lista {
    background-color:rgba(252, 248, 49, 0.616);
    color: rgba(17, 0, 0, 0.726);
    display: flex;
    justify-content: space-around; 
    padding: 4px;
    font-size: 6px;

    }
    
    .cabeçalho_imagem {
    width: 20%;
    height: 20%;
    border-radius: 10%;
    
    }
    
    .itens{
    display: inline-block;
    margin: 20px;
    font-size: 20px;

    }
    
    * {
    margin: 10px;
    padding: 20px
    }
    
    h1 {
        color:blueviolet;
        text-align: center;
        }
    }

    a {
        text-decoration: none;
        color:plum;
    }